.App ul {
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid;
  border-radius: 8px;
  margin: 80px;
  max-width: 500px;
}

.open-source-link {
  font-size: 10pt;
  display: block;
  text-align: center;
}
